@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.nav{
    /* height: 9vh; */
    /* width: 100%; */
    background-color: #fe8d8d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 25px;
    padding:0.1rem;
    margin-top:1rem;
}
.home{
    box-sizing: border-box;
    /* height: 80vh; */
    /* width: 100%; */
    /* gap: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:1rem;

}
.avatar{
    height: 30%;
    width: 30%;
    max-width: 300px;
    max-height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.btns>button{
    /* width: 4em; */
    /* height: 2em; */
    margin: 10px;
    font-size: 16px;
    /* font-weight: 600; */
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(250, 225, 225);
    box-shadow: 2px 3px 5px rgb(102, 101, 101);
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    padding:0.1rem;

}
.btns > button:hover{
  background-color: #fc4c4ca6;
}

.btns>button:focus{
    box-shadow: none;
    background-color: #faa358;
    color:whitesmoke;
    /* font-size: 300px; */
}

#gen{
    background-color: #fd4b4bdc;
    color: white;
    padding:0.4rem;
    /* width:100%; */
    text-align: center;
}

#gen:active{
  background-color: #4865f7dc;
  color: white;
  transition: 0.1s;
 
}
