.home-container {
  height:auto;
  background-color: rgba(227, 227, 116, 0.825);
  /* background-color: rgba(228, 228, 124, 0.825); */
  padding-bottom: 1rem;
}

.home-img {
  margin-left: -0.5rem;
}
.home-img > img {
  width: 100%;
  height: auto;
}

.links {
  display: flex;
  align-items: center;
  justify-content:center;
  gap:10%;
  
}

.home-signup {
  margin-right: 2rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  background-color: rgb(238, 238, 156);
  border-radius: 5px;
}

.home-login {
  margin-left: 2rem;
  padding: 0.4rem;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  background-color: rgb(238, 238, 156);
  border-radius: 5px;
}

.home-login:hover {
  background-color: beige;
}

.home-signup:hover {
  background-color: beige;
}
