.chat-content-conatiner {
  margin: 0;
  padding: 0;
  max-height: 80vh;
  overflow: auto;
}

.date-up {
  color: white;
  padding: 0.1rem;
  background-color: #d5cabd;
  margin: 0.5rem;
}

.chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.your-message {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 9px;
  margin: 0.2rem;
  color: blue;
}

.others-message {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 8px;
  padding: 0 0.1rem;
  color: grey;
}

.chat-messages::-webkit-scrollbar {
  width: 0.2rem;
}

.chat-messages::-thumb {
  background-color: #0ff607;
  width: 0.1rem;
  border-radius: 1rem;
}

.message {
  display: flex;
  align-items: center;
}

.content {
  max-width: 70%;
  overflow-wrap: break-word;
  padding: 0.1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  text-align: start;
}

.text {
  padding: 0.1rem;
  margin: 0 0.1rem;
  font-size: 1rem;
}

.sended {
  justify-content: flex-start;
}
.back1 {
  background-color: #ebf6fac9;
}

.recieved {
  justify-content: flex-end;
}

.back2 {
  background-color: rgba(196, 201, 248, 0.734);
}

@media screen and (max-width: 700px) {
  .chat-messages {
    font-size: 19px;

    padding: 0rem 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .content {
    max-width: 80%;
    padding: 0.1rem;
    font-size: 5rem;
  }

  .date-up {
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
  }
}
