.logout-container {
  background-color: rgb(250, 250, 78);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-inline: 1%;
}

.logout-btn {
  background-color: rgb(250, 154, 38);
  padding: 0.3rem;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.logout-btn:hover {
  color: blue;
}

.logout-avatar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.2rem;
  width: 20%;
}
