.forgot-container {
  width: 70%;
  margin: 3rem auto 0 auto;
  background-color: aliceblue;
  text-align: center;
  padding-bottom: 0.05rem;
  box-shadow: 1px 1px 1px 12px rgba(207, 205, 205, 0.473);
  border-radius: 4px;
}

.forgot-input{
  padding: 0.2rem;
  width:50%;
  margin-inline: auto;
}
.forgot-btn{
  background-color: black;
  cursor: pointer;
  margin:1rem 0;
  color: white;

}



@media screen and (max-width:500px) {
  .forgot-container{
   width:80%;
   box-shadow: 1px 1px 1px 9px rgba(207, 205, 205, 0.473);
   border-radius: 2px;
  }
  .forgot-input{
   width: 70%;
   padding: 0.1rem;
   margin-bottom: 0.1rem;
  }

  .forgot-btn{
    margin: 0.8rem 0;
  }
}