.contact-container {
  background-color: rgb(250, 250, 78);
  max-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 73vh 17vh;
}
.user-icon {
  display: inline-flex;
  gap: 10%;
  align-items: center;
  margin: 0.1rem 0;
  background-color: rgba(226, 240, 250, 0.628);
  width: 100%;
  cursor: pointer;
}

.users-scrollbar {
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-icon > img {
  width: 20%;
}

.user-icon:hover {
  background-color: rgb(255, 255, 255);
}

.currentUser-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: 3rem;
  margin-right: 1rem;
}

.currentUser-icon > img {
  width: 25%;

  padding: 0.3rem;
  overflow: hidden;
}

.user-icon:focus {
  background-color: rgb(220, 224, 255);
  color: white;
}

@media screen and (max-width: 700px) {
  .user-icon {
    font-size: 14px;
    gap: 4%;
    padding: 0.2em 0.1rem;
  }

  .user-icon > img {
    margin-right: o.1rem;
    margin-left: 1%;
  }

  .currentUser-icon > img {
    width: 50%;
  }
}
