.contact-container {
  background-color: rgb(250, 250, 78);
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 73vh 17vh;
}
.user-icon {
  display: inline-flex;
  gap: 10%;
  align-items: center;
  padding: 0.2rem;
  margin: 0.1rem 0;
  background-color: rgba(226, 240, 250, 0.628);
  width: 100%;
  cursor: pointer;
}

.users-scrollbar {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-icon > img {
  width: 20%;
  margin-right: 0.3rem;
  margin-left: 2%;
}

.user-icon:hover {
  background-color: rgb(255, 255, 255);
}

.currentUser-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2.1rem;
  margin-right: 0.5rem;
}

.currentUser-icon > img {
  width: 25%;

  padding: 0.3rem;
  overflow: hidden;
}

.user-icon:focus {
  background-color: rgb(220, 224, 255);
  color: white;
}
