

.signUp-container{
    width:70%;
    margin: 3rem auto 0 auto;
    background-color: aliceblue;
    text-align: center;
    padding-bottom: 0.05rem;
    box-shadow: 1px 1px 1px   12px rgba(207, 205, 205, 0.473);
    border-radius: 4px;
  
}

.signUp-user-icon{
   margin-top: 1rem;
}

.signUp-form-container{

}

.signUp-inputs-container{

margin-top:0.5rem;
}
.signUp-inputs-container>input[type=submit]{

    background-color: black;
    color: white;
    }

.signup-inputs{
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    width: 60%;
    margin-inline: auto;
    
  
}